/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* alegreya-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kaushan-script-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
    url('../fonts/kaushan-script-v8-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/kaushan-script-v8-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/kaushan-script-v8-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript')
      format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v14-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/montserrat-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/montserrat-v14-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/montserrat-v14-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/montserrat-v14-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin-300.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/roboto-v20-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
:root {
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --decorate-font: 'Kaushan Script', sans-serif;
  --nav-color: rgb(255, 255, 255);
  --nav-hover-color: rgb(252, 227, 138);
  --main-font-color: rgb(51, 51, 51);
  --second-font-color: rgb(153, 153, 153);
  --section-color: rgb(243, 129, 129);
  --decorate-color: rgb(149, 225, 211);
  --footer-color: rgba(153, 153, 153, 0.5);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: 0px;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  color: var(--main-font-color);
}
header {
  color: var(--nav-color);
}
.link {
  display: block;
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  margin: 0px auto;
}
.section {
  margin-top: 56px;
}
.section__title {
  font-size: 48px;
  font-family: var(--secondary-font);
  line-height: 32px;
  text-align: center;
  padding-bottom: 64px;
}
.section__title:after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: var(--section-color);
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.section__title-logo {
  font-size: 24px;
  font-family: var(--decorate-font);
  line-height: 1.2;
  text-align: center;
}
.section__title-subtitle {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

/*technical*/
.header {
  margin-bottom: 128px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(243, 129, 129, 0.9)),
      to(rgba(252, 227, 138, 0.9))
    ),
    url(../images/background.png);
  background-image: -o-linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../images/background.png);
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../images/background.png);
  background-size: cover;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
}
.header__logo {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.6px;
  font-weight: bold;
  color: var(--nav-color);
}
.header__links {
  display: flex;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav__actions:last-child {
  margin-right: 0px;
}
.nav__item {
  margin-right: 44px;
}
.nav__link {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  position: relative;
  color: var(--nav-color);
}
.nav__icon {
  width: 18px;
  height: 18px;
  fill: var(--nav-color);
}
.nav__icon:hover {
  fill: var(--nav-hover-color);
}
.nav__link:hover {
  color: var(--nav-hover-color);
}
.nav__link:hover::after {
  color: var(--nav-hover-color);
  background-color: var(--nav-hover-color);
  width: 100%;
}
.nav__link::after {
  content: '';
  width: 0%;
  height: 3px;
  display: block;
  margin: 0 auto;
  bottom: -12px;
  color: var(--nav-hover-color);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  transition: width 0.5s linear;
}
.banner {
  text-align: center;
  width: 820px;
  margin: 0px auto;
  padding: 200px 0px 200px 0px;
}
.banner__title {
  font-family: var(--decorate-font);
  font-size: 72px;
}
.banner__subtitle {
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
}
.banner__button {
  margin-top: 130px;
  font-size: 14px;
  font-weight: 700;
  width: 164px;
  height: 44px;
  border: 3px solid var(--nav-color);
  background-color: transparent;
  color: var(--nav-color);
  text-transform: uppercase;
  cursor: pointer;
}

/*Header*/

.service__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.card__item {
  width: 390px;
  height: 96px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__icon {
  display: block;
  width: 58px;
  height: 58px;
  fill: rgb(149, 225, 211);
  margin: 0px 31px 44px 0px;
}

.card__title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 14px;
}
.card__subscribe {
  font-size: 15px;
  font-family: var(--secondary-font);
  color: var(--second-font-color);
  line-height: 1.6;
  text-align: left;
  width: 269px;
  height: 39px;
}

/*service*/
.team__subscribe {
  font-size: 15px;
  font-family: var(--secondary-font);
  color: var(--second-font-color);
  line-height: 1.6;
  text-align: center;
  width: 942px;
  height: 42px;
  margin-left: 120px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 80px 0px 80px 0px;
}

.team__img-wraper {
  width: 380px;
  height: 472px;
  position: relative;
}
.name {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.position {
  font-size: 15px;
  font-family: var(--secondary-font);
  color: var(--second-font-color);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
  display: block;
}
.team-mate-info {
  margin-top: 42px;
}
.overlay {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.93)),
    to(rgba(243, 129, 129, 0.93))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.93) 0%,
    rgba(243, 129, 129, 0.93) 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.93) 0%,
    rgba(243, 129, 129, 0.93) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: -10px;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 10px 10px var(--decorate-color);
  box-shadow: 10px 10px var(--decorate-color);
}
.team__img-wraper:hover .overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.social__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 228px;
  top: 218px;
  left: 78px;
}
.social__list-link {
  width: 56px;
  height: 56px;
  display: block;
  background-color: var(--nav-hover-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__list-icon {
  width: 30px;
  height: 30px;
  fill: var(--section-color);
}
.social__list-icon:hover {
  fill: var(--nav-color);
}
.social__list-link:hover {
  background-color: var(--section-color);
}

/*our team*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.footer::before {
  width: 1200px;
  height: 1px;
  background-color: var(--footer-color);
  content: '';
  display: block;
  margin: 0 auto;
  position: absolute;
}
.footer__section {
  padding: 12px 0px 12px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__logo {
  font-family: var(--secondary-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__form {
  display: inline;
  border: 1px solid var(--footer-color);
}
.footer__link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--section-color);
}
.footer__input {
  width: 234px;
  height: 40px;
  border-style: none;
  border-width: 1px;
  margin-left: 10px;
}
.footer__input::-webkit-input-placeholder {
  color: var(--footer-color);
  font-style: italic;
}
.footer__input::-moz-placeholder {
  color: var(--footer-color);
  font-style: italic;
}
.footer__input:-ms-input-placeholder {
  color: var(--footer-color);
  font-style: italic;
}
.footer__input::-ms-input-placeholder {
  color: var(--footer-color);
  font-style: italic;
}
.footer__input::placeholder {
  color: var(--footer-color);
  font-style: italic;
}
.footer__input-button {
  font-size: 14px;
  color: var(--nav-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  background-color: var(--decorate-color);
  width: 150px;
  height: 41px;
  border-style: none;
  cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(243, 129, 129, 0.9)),
        to(rgba(252, 227, 138, 0.9))
      ),
      url(../images/background@2x.png);
    background-image: -o-linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../images/background@2x.png);
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../images/background@2x.png);
  }
}
